[Unit]
Description=Mount Bootfs and userfs
DefaultDependencies=false
Before=local-fs.target
ConditionPathExists=/boot
ConditionPathExists=/usr/local

[Service]
Type=oneshot
RemainAfterExit=Yes
StandardOutput=syslog
TimeoutSec=0
ExecStart=-/sbin/mount-bootfs-userfs.sh start
ExecStop=/sbin/mount-bootfs-userfs.sh stop

[Install]
WantedBy=local-fs.target
