[Unit]
Description=Resize root filesystem to fit available disk space
Wants=systemd-udevd.service systemd-udev-trigger.service
After=systemd-remount-fs.service systemd-udevd.service resize-helper.service

[Service]
Type=oneshot
ExecStart=-@sbindir@/userfs-cleanup-package.sh start
ExecStartPost=/bin/systemctl disable userfs-cleanup-package.service
WatchdogSec=30

[Install]
WantedBy=basic.target
