[Unit]
Description=Set kernel date
Before=systemd-logind.service

[Service]
Type=oneshot
ExecStart=-@sbindir@/set_kernel_date.sh
ExecStartPost=/bin/systemctl --no-reload disable set_kernel_date.service
WatchdogSec=30

[Install]
WantedBy=multi-user.target
