[Unit]
Description=ST Dynamic Host Configuration Protocol (DHCP)
After=syslog.target network.target

[Service]
Type=simple
PIDFile=/var/run/st-dhclient.pid
EnvironmentFile=-/etc/default/dhcp-client
ExecStart=/sbin/udhcpc -i $INTERFACES

[Install]
WantedBy=multi-user.target

